<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">

	<title>Manga Finder</title>

	<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<header>
		
	</header>
	<h1>Add Genre</h1>
	<p>Click on the genre's that you like the most. We need at least one that show you some results</p>
	<p>The more genre's you add, the more specific the results will be.</p>
	<ul id="genre-selection">
		<li class="genre">action</li>
		<li class="genre">comedy</li>
		<li class="genre">drama</li>
		<li class="genre">mecha</li>
		<li class="genre">horror</li>
		<li class="genre">fantasy</li>
		<li class="genre">sci-fi</li>
		<li class="genre">shounen</li>
		<li class="genre">seinen</li>
		<li class="genre">romance</li>
		<li class="genre">magic</li>
	</ul>
	<a class="button" href="results.html">Show results</a>
	<a class="textBtn" href="options.html">More options</a>

</body>
<script src="../js/script.js"></script>
</html>